version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
      - python/load-cache:
        key: deps-{{ .Branch }}-{{ checksum "src/requirements.txt" }}
      - run: pip install kedro
      - run: kedro install
      - python/save-cache:
        key: deps-{{ .Branch }}-{{ checksum "src/requirements.txt" }}
      - run: kedro test

workflows:
  main:
    jobs:
      - build-and-test