# local package
-e .

# external requirements
click==7.1.1
Sphinx==3.0.1
coverage==5.1
awscli==1.18.41
flake8==3.7.9
python-dotenv==0.13.0
botocore==1.15.41
PyYAML==5.3.1
pandas==1.0.3
numpy==1.18.2
torch==1.4.0+cpu
tensorboard==2.2.1
# mlflow: not work on windows for now
sklearn
jupyter==1.0.0
kedro==0.15.9
IPython==7.13.0
isort==4.3.21
black==19.10b0
pytest==5.4.1